:root {
  --text: #333;
  --active: #005ff0;
  --white: #fff;
  --code:#ba4a4a;
  --hr:#474747;
  --bg:#f3f3f3;
  --secondBg:#d0d0d0;
}

/*Obnulenie*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #5c5757;
  border-radius: 5px;
  -webkit-box-shadow: inset 5px 5px 5px #483333;
          box-shadow: inset 5px 5px 5px #483333;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c4c4c;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.eot);
  src: url(../fonts/Montserrat-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-SemiBold.otf) format("otf"), url(../fonts/Montserrat-SemiBold.ttf) format("truetype"), url(../fonts/Montserrat-SemiBold.woff) format("woff"), url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.eot);
  src: url(../fonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat-Regular.otf) format("otf"), url(../fonts/Montserrat-Regular.ttf) format("truetype"), url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

.__container {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

table {
  text-align: left;
  border-spacing: 0px;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 20px solid var(--white);
}

table thead tr th {
  background: rgba(0, 95, 240, 0.1);
  padding: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text);
}

table thead tr th:not(:first-child) {
  padding: 0px 60px;
}

table thead tr th:first-child {
  border-radius: 4px 0px 0px 4px;
}

table thead tr th:last-child {
  border-radius: 0px 4px 4px 0px;
}

table tbody tr {
  background: rgba(223, 224, 223, 0.5);
  border-bottom: 5px solid var(--white);
}

table tbody tr td {
  padding: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text);
}

table tbody tr td:first-child {
  min-width: 50px;
  border-radius: 4px 0px 0px 4px;
}

table tbody tr td:last-child {
  border-radius: 0px 4px 4px 0px;
}

table tbody tr td:not(:first-child) {
  padding: 0px 60px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  padding-top: 40px;
  left: 0;
  top: 0;
  min-width: 256px;
  height: 100vh;
}

.sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  border: 1px solid var(--hr);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.sidebar__menu {
  padding-top: 90px;
}

.menu-sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.menu-sidebar__item {
  padding: 0 10px;
  position: relative;
  margin-bottom: 1px;
}

.menu-sidebar__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-radius: 1px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  height: 100%;
  background: var(--active);
}

.menu-sidebar__item.active, .menu-sidebar__item:hover {
  background: rgba(71, 71, 71, 0.1);
}

.menu-sidebar__item.active .menu-sidebar__link, .menu-sidebar__item:hover .menu-sidebar__link {
  color: var(--active);
}

.menu-sidebar__item.active::before, .menu-sidebar__item:hover::before {
  width: 2px;
}

.menu-sidebar__link {
  display: block;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  line-height: 22px;
  color: var(--text);
}

.base__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.base__body {
  padding-top: 40px;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.base__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--text);
  margin-bottom: 60px;
}

.base__table {
  margin-bottom: 50px;
}

.base__table .error {
  color: red;
}

.base__table .success {
  color: #03b62a;
}

.base__table a:hover {
  text-decoration: underline;
}

.errorCode__popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.errorCode__popUp-item {
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 350px;
}

.errorCode__popUp-head {
  margin-bottom: 20px;
}

.errorCode__popUp-headTitle {
  text-align: center;
}

.errorCode__popUp-headClose {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 10px;
}

.errorCode__popUp-headClose::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 20px;
  top: 0;
  right: 8px;
  border-radius: 4px;
  background-color: var(--text);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.errorCode__popUp-headClose::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 20px;
  top: 0;
  right: 8px;
  border-radius: 4px;
  background-color: var(--text);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.errorCode__popUp-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.errorCode__popUp-label {
  margin-bottom: 10px;
}

.errorCode__popUp-input {
  border: 1px solid var(--text);
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
}

.errorCode__popUp-input:not(:last-child) {
  margin-bottom: 18px;
}

.errorCode__popUp-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.errorCode__popUp-button {
  cursor: pointer;
  color: var(--white);
  background-color: var(--active);
  padding: 5px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.errorCode.active .errorCode__popUp {
  visibility: visible;
  opacity: 1;
}

.errorCode__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.errorCode__body {
  padding-top: 40px;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.errorCode__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.errorCode__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--text);
}

.errorCode__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(223, 224, 223, 0.5);
  border-radius: 4px;
  padding: 10px 12px;
}

.errorCode__form label {
  margin-right: 12px;
}

.errorCode__form input {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--text);
  background: transparent;
}

.errorCode__table .code {
  color: red;
}

.errorCode__table .success {
  color: #13de19;
}

.errorCode__table tbody tr {
  background: rgba(223, 224, 223, 0.5);
  border-bottom: 5px solid var(--white);
}

.errorCode__table tbody tr td {
  padding: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text);
}

.errorCode__table tbody tr td:first-child {
  min-width: 50px;
  border-radius: 4px 0px 0px 4px;
}

.errorCode__table tbody tr td:last-child {
  border-radius: 0px 4px 4px 0px;
  color: red;
}

.errorCode__table tbody tr td:nth-child(n + 6) {
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.errorCode__table tbody tr td:nth-last-child(2) {
  color: var(--active);
}

.errorCode__table tbody tr td:not(:first-child) {
  padding: 0px 60px;
}

.admin__popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.admin__popUp-item {
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 350px;
}

.admin__popUp-head {
  margin-bottom: 20px;
}

.admin__popUp-headTitle {
  text-align: center;
}

.admin__popUp-headClose {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 10px;
}

.admin__popUp-headClose::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 20px;
  top: 0;
  right: 8px;
  border-radius: 4px;
  background-color: var(--text);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.admin__popUp-headClose::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 20px;
  top: 0;
  right: 8px;
  border-radius: 4px;
  background-color: var(--text);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.admin__popUp-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.admin__popUp-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 21px;
  color: var(--dark);
}

.admin__popUp-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin__popUp-label input {
  display: none;
}

.admin__popUp-label span {
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  display: block;
  width: 12px;
  height: 12px;
  min-width: 12px;
  position: relative;
}

.admin__popUp-label p {
  padding-right: 22px;
}

.admin__popUp-label input:checked ~ span::before {
  content: '';
  position: absolute;
  left: 5px;
  top: -5px;
  width: 5px;
  height: 15px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.admin__popUp-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin__popUp-button {
  cursor: pointer;
  color: var(--white);
  background-color: var(--active);
  padding: 5px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
}

.admin__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin.active .admin__popUp {
  visibility: visible;
  opacity: 1;
}

.admin__body {
  padding-top: 40px;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.admin__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--text);
  margin-bottom: 60px;
  text-align: center;
}

.admin__add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200px;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--active);
  color: var(--white);
}

.admin__add-box_mini {
  margin-left: 0px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200px;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--active);
  color: var(--white);
}

.admin__add-project {
  font-size: 20px;
}

.admin__add-projectIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  top: 0px;
  right: 0px;
}

.admin__add-projectIcon::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 18px;
  top: 0;
  right: 8px;
  border-radius: 4px;
  background-color: var(--white);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.admin__add-projectIcon::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 18px;
  top: 0;
  right: 8px;
  border-radius: 4px;
  background-color: var(--white);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.admin__project-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin__project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin__project-link {
  font-size: 23px;
  cursor: pointer;
  margin-bottom: 30px;
  width: 450px;
  padding: 10px 20px;
  font-weight: 600;
  color: var(--text);
}

.admin__project-link:hover {
  color: var(--active);
  background-color: rgba(71, 71, 71, 0.1);
}

.admin__project-edit {
  font-size: 23px;
  cursor: pointer;
  margin-bottom: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 20px;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: 600;
  color: black;
  background-color: rgba(71, 71, 71, 0.1);
}

.admin__project-edit:hover {
  color: var(--active);
}

.admin__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.admin__userName {
  font-size: 18px;
  cursor: pointer;
}

.admin__userName:hover {
  color: var(--active);
}

.admin__edit {
  margin-left: 20px;
  padding: 5px;
  border-radius: 4px;
}

.admin__delete {
  margin-left: 20px;
  color: red;
  padding: 5px;
  border-radius: 4px;
}

.login {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg);
}

.login__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
  border-radius: 8px;
  padding: 30px 40px;
  width: 600px;
}

.login__logo {
  padding-bottom: 40px;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.login__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.login__label {
  font-size: 28px;
  padding-bottom: 10px;
  font-weight: bold;
}

.login__input-item {
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid var(--hr);
  padding: 10px;
}

.login__button {
  padding: 10px;
  background-color: var(--active);
  color: var(--white);
  font-size: 20px;
  border-radius: 8px;
}

.apis__popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.apis__popup._hide {
  opacity: 0;
  visibility: hidden;
}

.apis__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apis__body {
  padding-top: 40px;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apis__body:not(:last-child) {
  padding-right: 26px;
}

.apis__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.apis__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--text);
  padding-right: 60px;
}

.apis__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(223, 224, 223, 0.5);
  border-radius: 4px;
  padding: 10px 12px;
}

.apis__form label {
  margin-right: 12px;
}

.apis__form input {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--text);
  background: transparent;
}

.apis__right {
  max-width: 977px;
  padding-top: 40px;
  padding-left: 26px;
  position: relative;
}

.apis__right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: var(--secondBg);
}

.right-apis {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-apis__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-apis__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-apis__name {
  font-size: 20px;
  font-weight: 600;
}

.right-apis__sendSms {
  margin-left: 7px;
  font-size: 20px;
  font-weight: 600;
}

.right-apis__ip-text {
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px;
}

.right-apis__ip-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-apis__ip {
  cursor: pointer;
  font-size: 18px;
}

.right-apis__ip:hover {
  text-decoration: underline;
}

.right-apis__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.right-apis__add {
  cursor: pointer;
  background-color: var(--active);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 4px;
}

.right-apis__edit {
  cursor: pointer;
  background-color: var(--active);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 4px;
}

.right-apis__block {
  margin-top: 30px;
  background-color: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}

.right-apis__block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--text);
  margin-bottom: 10px;
}

.right-apis__names {
  font-size: 18px;
  font-weight: 700;
}

.right-apis__action {
  margin-bottom: 10px;
  font-weight: 600;
}

.right-apis__action_success {
  color: green;
}

.right-apis__action_error {
  margin-top: 10px;
  padding-top: 10px;
  color: red;
  border-top: 2px solid black;
}

.right-apis__links {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-apis__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  width: 50%;
  padding: 20px;
  background: rgba(0, 95, 240, 0.1);
  border-radius: 4px;
}

.menu-apis__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-apis__item:first-child {
  margin-bottom: 20px;
}

.menu-apis__item:first-child a {
  text-decoration: none;
  cursor: default;
}

.menu-apis__link {
  background: rgba(223, 224, 223, 0.5);
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 5px;
}

.menu-apis__link.active {
  background: var(--active);
}

.menu-apis__link.active div {
  color: var(--white);
}

.menu-apis__link div {
  padding: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text);
  text-align: left;
}

.menu-apis__link div:first-child {
  width: 40%;
}

.menu-apis__link:hover {
  text-decoration: underline;
}

.popup-apis__container {
  width: 500px;
  background: rgba(207, 226, 249, 0.611);
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
  height: 80vh;
  margin: auto;
  position: relative;
}

.popup-apis__buttons {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-apis__button {
  padding: 5px 10px;
  border-radius: 5px;
}

.popup-apis__button:not(:last-child) {
  margin-right: 20px;
}

.popup-apis__close-box {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: transparent;
}

.popup-apis__close-box span {
  position: absolute;
  display: block;
  background: #434145;
  height: 2px;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.popup-apis__close-box span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-apis__close-box span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-apis__title {
  margin-bottom: 10px;
}

.popup-apis__select {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.popup-apis__select-button {
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
}

.popup-apis__select-button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  right: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #25242c;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.popup-apis__select-body {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  z-index: 2;
  width: 100%;
  border-radius: 5px;
  bottom: -2px;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  max-height: 200px;
  overflow-y: auto;
  -webkit-box-shadow: 5px 5px 10px rgba(126, 128, 130, 0.611);
          box-shadow: 5px 5px 10px rgba(126, 128, 130, 0.611);
}

.popup-apis__select-body.active {
  opacity: 1;
  visibility: visible;
}

.popup-apis__select-item {
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.popup-apis__select-item p {
  margin-left: 10px;
}

.popup-apis__input {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 50%;
}

.popup-apis__textarea {
  resize: vertical;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.popup-apis__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.popup-apis__row .popup-apis__title {
  margin-bottom: 0px;
}

.popup-apis__select-last {
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
}
