//admin-pop-up===open
.admin {
  &__popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  &__popUp-item {
    background-color: var(--white);
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
  }

  &__popUp-head {
    margin-bottom: 20px;
  }

  &__popUp-headTitle {
    text-align: center;
  }

  &__popUp-headClose {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 10px;
    &::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 20px;
      top: 0;
      right: 8px;
      border-radius: 4px;
      background-color: var(--text);
      transform: rotate(45deg);
    }
    &::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 20px;
      top: 0;
      right: 8px;
      border-radius: 4px;
      background-color: var(--text);
      transform: rotate(-45deg);
    }
  }

  &__popUp-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__popUp-box {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    color: var(--dark);
  }

  &__popUp-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    input {
      display: none;
    }
    span {
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 3px;
      display: block;
      width: 12px;
      height: 12px;
      min-width: 12px;
      position: relative;
    }
    p {
      padding-right: 22px;
    }
    input:checked ~ span::before {
      content: '';
      position: absolute;
      left: 5px;
      top: -5px;
      width: 5px;
      height: 15px;
      border: solid black;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &__popUp-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__popUp-button {
    cursor: pointer;
    color: var(--white);
    background-color: var(--active);
    padding: 5px 8px;
    width: fit-content;
    border-radius: 5px;
  }
}
//admin-pop-up===close
//
//
//
//admin-page*

.admin {
  &__container {
    display: flex;
  }

  &.active {
    .admin__popUp {
      visibility: visible;
      opacity: 1;
    }
  }

  &__body {
    padding-top: 40px;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--text);
    margin-bottom: 60px;
    text-align: center;
  }

  &__add-box {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-around;
    width: 200px;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--active);
    color: var(--white);
    &_mini {
      margin-left: 0px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-around;
      width: 200px;
      padding: 15px;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: var(--active);
      color: var(--white);
    }
  }

  &__add-project {
    font-size: 20px;
  }

  &__add-projectIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    top: 0px;
    right: 0px;
    &::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 18px;
      top: 0;
      right: 8px;
      border-radius: 4px;
      background-color: var(--white);
      transform: rotate(0deg);
    }
    &::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 18px;
      top: 0;
      right: 8px;
      border-radius: 4px;
      background-color: var(--white);
      transform: rotate(-90deg);
    }
  }

  &__project-box {
    display: flex;
    flex-direction: column;
  }

  &__project-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__project-link {
    font-size: 23px;
    cursor: pointer;
    margin-bottom: 30px;
    width: 450px;
    padding: 10px 20px;
    font-weight: 600;
    color: var(--text);
    &:hover {
      color: var(--active);
      background-color: rgba(71, 71, 71, 0.1);
    }
  }

  &__project-edit {
    font-size: 23px;
    cursor: pointer;
    margin-bottom: 30px;
    width: fit-content;
    margin-left: 20px;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 600;
    color: black;
    background-color: rgba(71, 71, 71, 0.1);
    &:hover {
      color: var(--active);
    }
  }

  &__user {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  &__userName {
    // margin-left: 80px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      color: var(--active);
    }
  }

  &__edit {
    margin-left: 20px;
    padding: 5px;
    border-radius: 4px;
  }

  &__delete {
    margin-left: 20px;
    color: red;
    padding: 5px;
    border-radius: 4px;
  }
}
