.apis {
  &__popup {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    &._hide {
      opacity: 0;
      visibility: hidden;
    }
  }
  &__container {
    display: flex;
  }
  &__sidebar {
  }
  &__menu {
  }
  &__body {
    padding-top: 40px;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      padding-right: 26px;
    }
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--text);
    padding-right: 60px;
  }
  &__form {
    display: flex;
    align-items: center;
    background: rgba(223, 224, 223, 0.5);
    border-radius: 4px;
    padding: 10px 12px;
    label {
      margin-right: 12px;
    }
    input {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--text);
      background: transparent;
    }
  }
  &__table {
  }
  &__right {
    max-width: 977px;
    padding-top: 40px;
    padding-left: 26px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      background: var(--secondBg);
    }
  }
}
.right-apis {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
  }

  &__sendSms {
    margin-left: 7px;
    font-size: 20px;
    font-weight: 600;
  }

  &__ip-text {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
  }

  &__ip-block {
    display: flex;
  }

  &__ip {
    cursor: pointer;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  &__add {
    cursor: pointer;
    background-color: var(--active);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 4px;
  }

  &__edit {
    cursor: pointer;
    background-color: var(--active);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 4px;
  }

  &__block {
    margin-top: 30px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
  }

  &__block-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text);
    margin-bottom: 10px;
  }

  &__names {
    font-size: 18px;
    font-weight: 700;
  }

  &__type {
  }

  &__block-bottom {
  }

  &__block-info {
  }

  &__action {
    margin-bottom: 10px;
    font-weight: 600;
    &_success {
      color: green;
    }
    &_error {
      margin-top: 10px;
      padding-top: 10px;
      color: red;
      border-top: 2px solid black;
    }
  }

  &__links {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }

  &__button {
    flex: 1 1 0%;
    width: 50%;
    padding: 20px;
    background: rgba(0, 95, 240, 0.1);
    border-radius: 4px;
  }
}
.menu-apis {
  &__nav {
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:first-child {
      margin-bottom: 20px;
      a{
        text-decoration: none;
        cursor:default;
      }
    }
  }

  &__link {
    background: rgba(223, 224, 223, 0.5);
    display: block;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-align: left;
    margin-bottom: 5px;
    &.active {
      background: var(--active);
      div {
        color: var(--white);
      }
    }
    div {
      padding: 20px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: var(--text);
      text-align: left;
      &:first-child{
        width: 40%;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
.popup-apis {
  &__container {
    width: 500px;
    background: rgba(207, 226, 249, 0.611);
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    height: 80vh;
    margin: auto;
    position: relative;
  }
  &__buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    padding: 5px 10px;
    border-radius: 5px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__close-box {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: transparent;
    span {
      position: absolute;
      display: block;
      background: rgb(67, 65, 69);
      height: 2px;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  &__title {
    margin-bottom: 10px;
  }
  &__select {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  &__select-button {
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      right: 10px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-top: 5px solid #25242c;
      transform: translateY(-25%);
    }
  }
  &__select-body {
    transition: 0.3s;
    position: absolute;
    z-index: 2;
    width: 100%;
    border-radius: 5px;
    bottom: -2px;
    opacity: 0;
    visibility: hidden;
    overflow-y: hidden;
    transform: translateY(100%);
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 5px 5px 10px rgba(126, 128, 130, 0.611);
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__select-item {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background: white;
    p {
      margin-left: 10px;
    }
  }
  &__input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 50%;
  }

  &__textarea {
    resize: vertical;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    .popup-apis__title{
      margin-bottom: 0px;
    }
  }
  &__select-last {
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
  }
}
