.base {
	&__container {
		display: flex;
  }
	
  &__sidebar {
	}
	
  &__body {
		padding-top: 40px;
    padding-left: 26px;
		display: flex;
		flex-direction: column;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--text);
		margin-bottom: 60px;
  }

  &__table {
    margin-bottom: 50px;
    .error{
      color: red;
    }
    .success{
      color: rgb(3, 182, 42);
    }
    a{
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
