.errorCode {
  &__popUp {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  &__popUp-item {
    background-color: var(--white);
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
  }

  &__popUp-head {
    margin-bottom: 20px;
  }

  &__popUp-headTitle {
    text-align: center;
  }

  &__popUp-headClose {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 10px;
    &::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 20px;
      top: 0;
      right: 8px;
      border-radius: 4px;
      background-color: var(--text);
      transform: rotate(45deg);
    }
    &::before {
      content: '';
      position: absolute;
      width: 3px;
      height: 20px;
      top: 0;
      right: 8px;
      border-radius: 4px;
      background-color: var(--text);
      transform: rotate(-45deg);
    }
  }

  &__popUp-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__popUp-label {
    margin-bottom: 10px;
  }

  &__popUp-input {
    border: 1px solid var(--text);
    padding: 5px 10px;
    border-radius: 4px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__popUp-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__popUp-button {
    cursor: pointer;
    color: var(--white);
    background-color: var(--active);
    padding: 5px 8px;
    width: fit-content;
    border-radius: 5px;
  }
}

.errorCode {
  &.active {
    .errorCode__popUp {
      visibility: visible;
      opacity: 1;
    }
  }

  &__container {
    display: flex;
  }

  &__sidebar {
  }

  &__body {
    padding-top: 40px;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
  }
  &__title {
    font-family: $fontFamily;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--text);
  }
  &__form {
    display: flex;
    align-items: center;
    background: rgba(223, 224, 223, 0.5);
    border-radius: 4px;
    padding: 10px 12px;
    label {
      margin-right: 12px;
    }
    input {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--text);
      background: transparent;
    }
  }
  &__table {
    .code {
      color: red;
    }
    .success {
      color: #13de19;
    }
    tbody {
      tr {
        background: rgba(223, 224, 223, 0.5);
        border-bottom: 5px solid var(--white);
        td {
          padding: 20px;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: var(--text);
          &:first-child {
            min-width: 50px;
            border-radius: 4px 0px 0px 4px;
          }
          &:last-child {
            border-radius: 0px 4px 4px 0px;
            color: red;
          }
          &:nth-child(n + 6) {
            border-radius: 0px 4px 4px 0px;
            cursor: pointer;
          }
          &:nth-last-child(2) {
            color: var(--active);
          }
          &:not(:first-child) {
            padding: 0px 60px;
          }
        }
      }
    }
  }
}
