@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.eot);
  src: url(../fonts/Montserrat-SemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/Montserrat-SemiBold.otf) format('otf'),
    url(../fonts/Montserrat-SemiBold.ttf) format('truetype'), url(../fonts/Montserrat-SemiBold.woff) format('woff'),
    url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.eot);
  src: url(../fonts/Montserrat-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Montserrat-Regular.otf) format('otf'),
    url(../fonts/Montserrat-Regular.ttf) format('truetype'), url(../fonts/Montserrat-Regular.woff) format('woff'),
    url(../fonts/Montserrat-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}
