.login {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 8px;
    padding: 30px 40px;
    width: 600px;
  }

  &__logo {
    padding-bottom: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__label {
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  &__input-item {
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid var(--hr);
    padding: 10px;
  }

  &__button {
    padding: 10px;
    background-color: var(--active);
    color: var(--white);
    font-size: 20px;
    border-radius: 8px;
  }
}
