.sidebar {
  position: sticky;
  padding-top: 40px;
  left: 0;
  top: 0;
  min-width: 256px;
  height: 100vh;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    border: 1px solid var(--hr);
    filter: blur(1px);
  }
  &__logo {
  }

  &__menu {
    padding-top: 90px;
  }
}
.menu-sidebar {
  &__nav {
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    padding: 0 10px;
    position: relative;
    margin-bottom: 1px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      border-radius: 1px;
      transition: 0.1s;
      height: 100%;
      background: var(--active);
    }
    &.active,
    &:hover {
      .menu-sidebar__link {
        color: var(--active);
      }
      background: rgba(71, 71, 71, 0.1);
      &::before {
        width: 2px;
      }
    }
  }

  &__link {
    display: block;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    line-height: 22px;
    color: var(--text);
  }
}
