table {
  text-align: left;
  border-spacing: 0px;
  border-collapse: collapse;
  thead {
    tr {
      border-bottom: 20px solid var(--white);
      th {
        background: rgba(0, 95, 240, 0.1);
        padding: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: var(--text);
        &:not(:first-child) {
          padding: 0px 60px;
        }
        &:first-child {
          border-radius: 4px 0px 0px 4px;
        }
        &:last-child {
          border-radius: 0px 4px 4px 0px;
        }
      }
    }
  }
  tbody {
    tr {
      background: rgba(223, 224, 223, 0.5);
      border-bottom: 5px solid var(--white);
      td {
        padding: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: var(--text);
        &:first-child {
          min-width: 50px;
          border-radius: 4px 0px 0px 4px;
        }
        &:last-child {
          border-radius: 0px 4px 4px 0px;
        }
        &:not(:first-child) {
          padding: 0px 60px;
        }
      }
    }
  }
}
