//===============fonts=================
$fontFamily: 'Montserrat';
//
//
@import '_colors';
@import '_null.scss';
@import '_fonts.scss';

.__container {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
//===========import-files=========================//
@import '_table.scss';
@import '_sidebar.scss';
@import '_base.scss';
@import '_errorCodes.scss';
@import '_admin.scss';
@import '_login.scss';
@import '_apis.scss';
